
<div class="container">
  <img [src]="coffee.imageUrl" alt="coffee.name"/>
  <div class="details">
    <div class="header">
      <span class="name">
        {{coffee.name}}
      </span>
      <span class="favorite {{coffee.favorite? '': 'not'}}">❤</span>
    </div>
    <div class="rating">
      <star-rating [stars]="coffee.stars" [size]="1.8" />
    </div>

    <div class="origins">
      <span *ngFor="let origin of coffee.origins">
        {{origin}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of coffee.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="price">
      <span>
        {{coffee.price | currency}}
      </span>
    </div>
    <button (click)="addToCart()">Add To Cart</button>
  </div>
</div>
